---
layout: default
title: Home
---
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>
    {{ post.content }}
    <p class="comments-box"><a class="comments-link" href="{{ site.url }}{{ post.url }}#disqus_thread"
      {%if post.wordpress_id %}
      data-disqus-identifier="{{post.wordpress_id}} http://www.owiber.com/?p={{post.wordpress_id}}"
      {% endif %}
      >Comments</a></p>
  </article>
  {% endfor %}
</div>
<div class="search-container">
  <script>
    (function() {
      var cx = '009709207842501521394:4b_swnplefg';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>
{% include paginator-links.html maxPages=5 %}
<script type="text/javascript">
  var disqus_shortname = 'owiber';
  (function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
