// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 900px;
  padding: 0 50px;
  margin: 0 auto;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    padding: 20px;
  }
}

footer {
  margin-bottom: 2rem;
  text-align: center;
}
