<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <header class="masthead">
      <div class="header-container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="{{ site.title }}"><figure class="masthead-logo"></figure></a>
          <a class="site-url" href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a>
          <small><em>{{ site.tagline }}</em></small>
        </h3>
        <ul class="link-list">
          <li><a href="{{ site.baseurl }}/oliver-wong" title="About Oliver Wong">About</a></li>
          <li><a href="https://twitter.com/owiber" title="@owiber">@owiber</a></li>
        </ul>
      </div>
    </header>
    <div class="container content">
      <main>
        {{ content }}
      </main>
      <footer class="footer">
      </footer>
    </div>
    <script>
    (functi{on(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-747236-2', 'auto');
      ga('send', 'pageview');
    </script>}
  </body>
</html>